body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px; /* ajusta el ancho máximo según tu preferencia */
}

.navbar {
  margin-bottom: 20px;
}