/* Estilos globales para la aplicación */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el navbar */
  #main-navbar {
    background-color: #d45908 !important; /* Asegura que este estilo tenga prioridad que la lesera no queria tomarlo aunque lo agregara de "style" en el mismo html*/
  }
  /* Cambiar el color del texto en el navbar para mejorar la visibilidad */
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
  color: #ffffff; 
  }

  /* Estilos para la lista de items */
  .item-list {
    list-style-type: none;
    padding: 0;
  }
  
  .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }